#minimap {
  position: absolute;
  right: 0pt;
  top: 0;
  border-radius: 150pt;
  border: 3px solid rgb(55, 55, 55);
  background-image: url("../textures/earthy_ground_diffuse.png");
  background-size: 300px;
}

#speed {
  color: white;
  width: 13pt;
  text-align: center;
  display: inline-block;
}



#horBar * {
  padding: 2pt;
  color: white;
  vertical-align: middle;
  border-radius: 4pt;
}

#healthBar {
  height: 25px;
  background-color: #070707d7;
  width: 150px;
  text-align: center;
  border: 1pt solid white;
  padding: 1px;
  border-radius: 4pt;
}




.logo {
  height: 25pt;
}

.logo.whiteBackground {
  background: #ffffffbd;
  border-radius: 25px;
  padding: 3pt;
}

.loadingBarMain {
  position: absolute;
  top: 90%;
  width: 80%;
  height: 10pt;
  background-color: black;
  z-index: 30;
  border-radius: 50pt;
  border: solid 4pt gray;
}

.loadingBarChild {
  height: 100%;
  background-color: #444444;
  width: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50pt;
  color: white;
}

:root {
  --c: #242424db;
  --p: 0;
  --b: 22px;
  --w: 65px;
}

.bg {
  position: relative;
  width: var(--w);
  height: var(--w);
  border-radius: 100%;
  background-image: var(--img);
  background-size: 95%;
  background-color: #ffffffd8;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5pt;
}

.pie {
  border-radius: 100%;
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  /* margin: 5px; */
  place-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: transparent;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before {
  inset: 0;
  background:
    radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
  /* -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b))); */
  /* mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b))); */
}

.pie:after {
  inset: calc(50% - var(--b)/2);
  background: var(--c);
  transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
  animation: p 1s .5s both;
}

.no-round:before {
  background-size: 0 0, auto;
}

.no-round:after {
  content: none;
}


.redBg {
  background-color: #ff000066;
}

.greenBg {
  background-color: #009b0066;
}

.nextLvlBg {
  background-color: #1a1a626b;
}

.shortcut {
  position: absolute;
  color: white;
  right: 0;
  bottom: 0;
  background: black;
  padding: 2pt;
  border-radius: 100%;
  width: 10pt;
  height: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: absolute;
  color: white;
  background-color: #0707074f;
  border: 1pt solid #ffffff42;
  font-size: 10pt;
  border-radius: 10pt;
}

.gameBars {
  width: 80%;
  bottom: 0;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gameBars * {
  display: flex;
  align-items: center;
  padding: 2pt;
}

.specialBonus {
  top: 20%;
  left: 2pt;
  padding: 5pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentMission {
  top: 3pt;
  left: 3pt;
  padding: 5pt 10pt;
  width: 100pt;
}

.currentMission>div {
  display: flex;
  justify-content: space-between;
}

#fps {
  padding: 5pt;
  top: 3pt;
  left: 50%;
  transform: translateX(-50%);
}

@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

.story {
  background-image: url(time-travel.webp);
  text-align: center;
  /* padding: 10pt; */
  width: 500px;
  height: 400px;
  position: absolute;
  background-color: #070707d7;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  flex-direction: column;
}

.story * {
  font-size: 20pt;
  font-weight: 400;
  font-style: italic;
  line-height: 35px;
  font-family: 'Tapestry',
    monospace;
}

.full-screen {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
}

.story>div {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10pt;
  /* margin: 2pt; */
  background-color: #000000a8;
  /* border: 1pt solid #ffffff42; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.story>div>div {
  padding: 0 10pt;
  border-radius: 10pt;
}

.story we {
  color: #6868ff;
  font-weight: bold;
  text-decoration: underline;
}

.story they {
  color: #ff6870;
  font-weight: bold;
  text-decoration: underline;
}

.hover:hover {
  background-color: #6868ff30;
  cursor: pointer;
}

.hide {
  display: none;
}