html, body {
  	padding:0px;
	margin:0px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

#src{
	display:none;	
	filter:blur(5px);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}


.divb{
	height:200px;
	width: 250px;
	border-radius: 2%;
	background-color: #070707d7;
	position: absolute;
  top:-300px;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

.button {
  width: 200px;
  height: 50px;
  border: solid rgba(255, 255, 255, 0.3) 1px;
  background: transparent;
  cursor: pointer;
  transition: all 1s;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}
.button span {
	text-align:center;
	line-height: 50px;
	display: block;

	width: 200px;
	color: white;
	font-family: "Roboto", sans-serif;
	opacity: 0.7;
}
.button:hover {
  background: rgba(27, 228, 20, 0.226);

}

.divb #play{
	top:-60px
}
.divb #opt{
	top:60px
}

#minimap{
    position: absolute;
    right: 0pt;
    top: 0;
    border-radius: 150pt;
    border: 3px solid #d88;
    background-image: url("../images/woodTexture.jpg");
}